body {
  font: 1rem/2rem helvetica, arial, sans-serif;
  background-color: antiquewhite;
  width: 90vmin;
  margin: 20px auto 300px;
  padding: 20px;
  box-sizing: border-box;
}
.button {
  width: 80vmin;
  height: 40px;
  margin: 20px auto;
}
.button a {
  height: 1.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
  display: inline-block;
  background-color: rgb(179, 250, 27);
  padding: 3px;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 1px #999;
  border-radius: 4px;
  margin: 2px;
  text-align: center;
  line-height: 1.3rem;
}
.button a:hover {
  background-color: rgb(72, 225, 225);
}
h2,
h1,
h4,
ol li,
tr td:first-child,
span {
  text-transform: capitalize;
  font-weight: 600;
}
h1 {
  margin-bottom: 20px;
}
.table .keterangan td {
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  text-indent: 30px;
  text-transform: none;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}
h2,
h4 {
  text-align: center;
  text-decoration: underline;
  font-size: 1rem;
}
.table {
  width: 90vmin;
}
.table tr td:first-child {
  width: 27vmin;
}
tr td:last-child,
.table tr td:first-child {
  margin: 0;
  padding: 0;
}
.table tr td:nth-child(2) {
  width: 0;
  margin: 0;
  padding: 10px;
}
