.roboto-mono- {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: roboto-mono;
  background-color: #fbfcfd;
}
.container {
  color: #333;
  /* background-color: aqua; */
}

header {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
}
.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #eaebed;
  box-shadow: 0 0 5px #333; */
  padding: 10px;
  border-radius: 1px;
}
.satu {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
.dua {
  font-size: 1.2em;
  text-align: center;
}
.hero {
  width: 100%;
  /* background-color: #dee2e6;
  box-shadow: 0 0 5px #333; */
  border-radius: 1px;
}
.hero img {
  width: 50vmin;
  display: block;
  margin: auto;
  padding: 10px;
}
.sosmed {
  margin-top: 10px;
}
.sosmed img {
  width: 25px;
  display: inline-block;
  margin: 10px;
}
.footer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(63, 63, 63);
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  align-items: center;
  padding: 10px;
}
footer p {
  margin: 0;
  color: rgb(244, 244, 247);
  font-size: 0.9em;
}
.logo {
  margin: 0;
}
footer .logo img {
  width: 20px;
}
.copy {
  margin: 20px;
  font-size: 0.8em;
}
.copy a {
  text-decoration: none;
  color: rgb(233, 229, 229);
}
/* .wa {
  background-color: aqua;
  height: 50px;
  position: absolute;
}
.wa img {
  transition: 3s;
  height: 70px;
  width: 70px;
  position: fixed;
  right: 5px;
  bottom: 100px;
  z-index: 1;
  opacity: 0;
} */
.munculkan img {
  opacity: 1;
}
.container-skil {
  margin: 0 20px;
}
.container-skil span {
  font-size: 1.4em;
  text-align: center;
  display: block;
  font-weight: 700;
}
.container-skil p {
  margin-left: 10px;
  font-size: 1.1em;
}
.bg-skil {
  background-color: rgb(240, 240, 240);
  height: 18px;
  border-radius: 30px;
  margin: auto;
}
.skil-biru {
  background-color: #4b66f0;
  height: 100%;
  border-radius: 30px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  font-size: 0.7em;
}
.serti img {
  width: 80vmin;
}
.serti {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
