.roboto-mono- {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  font-family: roboto-mono;
  color: #333;
  /* background-color: aqua; */
}
.skil {
  padding: 30px;
}

header {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: center;
}
.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #eaebed;
  box-shadow: 0 0 5px #333; */
  padding: 10px;
  border-radius: 1px;
}
.satu {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
.dua {
  font-size: 1.2em;
  text-align: center;
}
.hero {
  width: 100%;
  /* background-color: #dee2e6;
  box-shadow: 0 0 5px #333; */
  border-radius: 1px;
}
.hero img {
  width: 50vmin;
  display: block;
  margin: auto;
  padding: 10px;
}
.sosmed {
  margin-top: 10px;
}
.sosmed img {
  width: 25px;
  display: inline-block;
  margin: 10px;
}
.footer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 62, 62);
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  align-items: center;
  padding: 10px;
}
footer p {
  margin: 0;
  color: rgb(235, 238, 246);
  font-size: 0.8em;
}
.logo {
  margin: 0;
}
footer .logo img {
  width: 20px;
}
.copy {
  margin: 20px;
  font-size: 0.8em;
}
.copy a {
  text-decoration: none;
}
