.container {
  font: 1rem/2rem helvetica, arial, sans-serif;
  width: 90vmin;
  padding: 20px;
  box-sizing: border-box;
}
.container p {
  font-size: 0.8rem;
}
.button {
  width: 30vmin;
  height: 40px;
  position: relative;
  right: 100px;
  margin: 20px auto;

  display: flex;
}
.list {
  font-weight: 200;
}
.next {
  display: flex;
}
.button a {
  height: 1.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
  display: inline-block;
  background-color: rgb(179, 250, 27);
  padding: 3px;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 1px #999;
  border-radius: 4px;
  margin: 2px;
  text-align: center;
  line-height: 1.3rem;
}
.button a:hover {
  background-color: #20c997;
}
h2,
h1,
h4,
ol li,
tr td:first-child,
span {
  text-transform: capitalize;
  font-weight: 600;
}
h1 {
  padding-top: 30px;
  margin-bottom: 10px;
}
.table .keterangan td {
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
  text-indent: 30px;
  text-transform: none;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}
h2,
h4 {
  text-align: center;
  text-decoration: underline;
  font-size: 1rem;
}
table {
  margin: auto;
  width: 100vmin;
}
.table tr td:first-child {
  width: 27vmin;
}
tr td:last-child,
.table tr td:first-child {
  margin: 0;
  padding: 0;
}
.table tr td:nth-child(2) {
  width: 0;
  margin: 0;
  padding: 10px;
}
.kotak {
  width: 80vmin;
  height: 370px;
  box-sizing: border-box;
}
.kotak1 {
  transition: 2s ease 1s;
}
.kotak2 {
  transition: 2s ease-in;
}
.kotak3 {
  transition: 2s ease-out;
}
.kotak4 {
  transition: 2s ease-in-out;
}
.kotak5 {
  transition: 2s linear;
}
.kotak6 {
  transition: 2s cubic-bezier(0.24, 0.35, 0.76, 1.59);
}
.container .kotak div {
  background-color: #20c997;
  width: 60px;
  height: 60px;
  border: 1px solid #333;
  font-size: 10px;
  text-align: center;
  line-height: 60px;
  margin: 2px;
}
.kotak:hover div {
  transform: rotate(720deg);
  margin-left: 66vmin;
}
.footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 62, 62);
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  align-items: center;
  padding: 10px;
}
footer p {
  margin-bottom: 6px;
  color: rgb(216, 217, 218);
  font-size: 0.8em;
}
.logo {
  margin: 0;
}
footer .logo img {
  width: 20px;
}
.copy {
  margin: 20px;
  font-size: 0.8em;
}
.copy a {
  text-decoration: none;
  color: rgb(71, 81, 223);
}
